@model Demonstration.Models.Entities.WorkTask

<h1>Work Task</h1>

@if (Model is null)
{
    <p>No task was found with this ID!</p>
}
else
{
    <form method="get">
        <div class="mt-3">
            <label class="form-label">ID:</label>
            <p class="form-control-plaintext">@Model.Id</p>
        </div>

        <div class="mt-3">
            <label class="form-label">Name:</label>
            <p class="form-control-plaintext">@Model.Name</p>
        </div>

        <div class="mt-3">
            <label class="form-label">Description:</label>
            <p class="form-control-plaintext">@Model.Description</p>
        </div>

        <input type="hidden" name="TaskId" value="@Model.Id" />

    </form>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

    <form asp-controller="WorkTask" asp-action="AssignUser" method="post">
        <input type="hidden" name="taskId" value="@ViewBag.TaskId" />
        <select class="form-control" name="userId" asp-items="ViewBag.UnassignedEmployees"></select>
        <button type="submit" class="btn btn-primary mt-2">Assign User</button>
    </form>
}
