@model List<Demonstration.Models.Entities.User>

<h1>Users</h1>

<td>
    <a class="btn btn-primary" asp-controller="User" asp-action="Add">Add</a>
</td>

<table class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var user in Model)
        {
            <tr>
                <td>@index</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@(user.Role.Name)</td>
                <td>
                    <a class="btn btn-primary" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <form asp-controller="User" asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure to delete this user?')">Delete</button>
                    </form>
                    <a class="btn btn-outline-info" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">Detail</a>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
